<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluación de Aprendizaje</title>
    <link href="~/Static/BaseStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Static/bootstrap.min.js"></script>
</head>
<body>
    @RenderBody()
    <footer class="">
        <div class="row justify-content-md-center">
            <div>
                <h5 class="col-md-auto">Ezequiel Diego Paoloni - 40.244.174</h5>
            </div>
            <div>
                <a class="btn btn-primary col-md-auto" href="/">Volver al inicio</a>
            </div>
        </div>
    </footer>
</body>
</html>