
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido a la evaliación de aprendizaje Nro. 2</h2>

<div class="container">
    <a class="btn btn-primary" href="/Competidores/ListaCompetidores">Ir a Gestión de Competidores</a>
</div>

<div class="container">
    <a class="btn btn-primary" href="/Premios/ListaPremios">Ir a Gestión de Premios</a>
</div>
