footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

body .container{
    margin: 10px;
    margin-left: 0;
}
